@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px; 
}
.nav-title{
    font-size: 20px;
}
nav a button{
    border: 1px solid black;
    font-size: 17px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 8px;
}